.container {
  .infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .dropzoneContainer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 0.2rem;

      .dropzone {
        border: 0;
        padding: 0.5rem;
      }
    }
  }
}
