.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f7f9fc;

  // Left side: Form
  .container {
    flex: 1;
    max-width: 50%;
    padding-inline: 10%;

    .title {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: left;
      margin-bottom: 2rem;

      .highlight {
        color: blue; // Green accent
      }
    }

    .paper {
      padding: 2rem;
      box-shadow: 0;
      background: transparent;
      border: 0;

      .subtitle {
        margin-bottom: 1.5rem;
        text-align: left;
        color: #727272;
      }

      .input {
        border-color: #ccc;
        border-radius: 0.375rem;
        background: transparent;
      }

      .button {
        background-color: #2848b2;
        &:hover {
          background-color: #315aff;
        }

        &.disabled {
          background-color: #ccc;
        }
      }

      .link {
        color: #4caf50;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Right side: Illustration
  .illustration {
    flex: 1;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;

    svg,
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
