.messageBox {
  padding: 1rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.07);
  background-color: #f4f4f4;

  &.inList {
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
  }
}

.addIntro {
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 0, 0.15);
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(0, 255, 0, 0.3);
    transition: background-color 0.3s ease;
  }
}
