.emptyState {
  cursor: pointer;
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    border-color: #228be6;
    background-color: rgba(34, 139, 230, 0.05);
  }
}

.managerDropzone {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.emptyStateManager {
  height: 400px;
}

.uploadButton {
  width: 100%;
}

.dragOverlay {
  background-color: #f0f0f0;
}

.chatIntroImage {
  padding: 1rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.07);
  background-color: #f4f4f4;
  overflow-y: auto;
}
