.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .topBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .leftIcon {
      flex-shrink: 0;
      color: gray;
      cursor: pointer;
    }
    .title {
      color: gray;
      margin: 0 auto;
    }
  }

  form {
    min-width: 600px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 5%;
    padding-block: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }

  .error {
    color: red;
  }
}
